[submodule "hierarchical_localization"]
	path = hierarchical_localization
	url = https://github.com/cds-mipt/hierarchical_localization
[submodule "netvlad_pytorch"]
	path = netvlad_pytorch
	url = https://github.com/cds-mipt/netvlad_pytorch.git
[submodule "cdxslam"]
	path = cdxslam
	url = https://github.com/cds-mipt/cdxslam
	branch = hf_net_habitat
[submodule "3rd/kapture"]
	path = 3rd/kapture
	url = https://github.com/cds-mipt/HPointLoc.git
[submodule "HPointLoc"]
	path = HPointLoc
	url = https://github.com/cds-mipt/HPointLoc.git
