tensorflow
faiss-gpu
einops==0.3.0
kornia==0.4.1
loguru==0.5.3
yacs>=0.1.8
tqdm
autopep8
pylint
ipython
jupyterlab
matplotlib
h5py==3.1.0
kapture
torch 
numba
numpy-quaternion 
cvxpy  
scipy
pandas
torchvision
scikit-learn
open3d==0.9.0.0
opencv-python 
#libopenblas
